// COLORS

$dark0: #000a12;
$dark1: #050f17;
$dark2: #0a141c;
$dark3: #0f1921;
$dark4: #141e26;
$dark5: #1a242c;
$dark6: #1f2931;
$dark7: #242e36;
$dark8: #29333b;
$dark9: #2e3840;

$light0: #eceff1;
$light1: #e7eaec;
$light2: #e2e5e7;
$light3: #dde0e2;
$light4: #d8dbdd;
$light5: #d3d6d8;
$light6: #cdd0d2;
$light7: #c8cbcd;
$light8: #c3c6c8;
$light9: #bec1c3;

// BACKGROUNDS

$bg_body: $dark0;
$bg_sidebar: $dark5;
$bg_typebox: $dark7;
$bg_messagesbox: $dark4;
$bg_messagebubble: $dark9;

// DEFAULT FONT COLOR

$txt_default_color: $light0;

// REM VALUE

$rem: 16px;

// BREAKPOINTS

$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;