@import "../../../styles/Variables.scss";

.textFieldIcon {
    display: flex;
    align-items: center;
    margin-right: 0.5rem !important;
}

.textFieldParent {
    flex-grow: 1;
}

.textField {
    width: 100%;
}

.textFieldValue {
    color: $light0 !important;
}

.textFieldLabel {
    color: $light9 !important;
}

