@import "../../styles/Variables.scss";
@use "../../components/global/styles/text_input.scss";

.mainContainer {
    height: 100%; 
    width: 100%; 

    max-width: 50rem;
    max-height: 50rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.welcomeText {
    margin-bottom: 1rem;
}

.subText {
    margin-top: 0.5rem;
}

.cancelButton {
    margin-top: 1rem !important;
}

@media (max-width: $md) {
    .mainContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}