$red: blue;

$primary: #f44336;
$secondary: #f44336;

$dark0: #000a12;
$dark1: #102027;
$dark2: #1c313a;
$dark3: #29434e;
$dark4: #34515e;
$dark5: #4b636e;

$light0: #eceff1;
$light1: #cfd8dc;
$light2: #b0bec5;