.main {
    /* padding-left: 1rem;
    padding-bottom: 3rem; */
    flex-grow: 1;
    height: 100% !important;
}

.main > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    background-color: $bg_messagesbox;
}

.textDiv {
    padding: 2rem 1.5rem;
    background-color: $bg_typebox;
}
