@import "../../../styles/Variables.scss";

.author {
    margin-bottom: 0.5rem;
}

.author.sent {
    padding-right: 1rem;
    text-align: right;
}

.author.received {
    padding-left: 1rem;
    text-align: left;
}

@media (max-width: $md) {
    .author {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}